<div class="column-layout group">
  <igx-expansion-panel [collapsed]="false" class="expansion-panel">
    <igx-expansion-panel-header iconPosition="left">
      <igx-expansion-panel-title>
        Title goes here
      </igx-expansion-panel-title>
      <igx-expansion-panel-description>
        Surprise!
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body>
      <div class="column-layout group_1">
        <img src="/assets/stas-parechyn-Xa2ICcPqUew-unsplash.jpg" class="image" />
      </div>
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel [collapsed]="false" class="expansion-panel">
    <igx-expansion-panel-header iconPosition="right">
      <igx-expansion-panel-title>
        Title goes here
      </igx-expansion-panel-title>
      <igx-expansion-panel-description>
        Check out this image
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body>
      <div class="column-layout group_1">
        <img src="/assets/Image.svg" class="image" />
      </div>
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel [collapsed]="false" class="expansion-panel">
    <igx-expansion-panel-header iconPosition="right">
      <igx-expansion-panel-title>
        Title goes here
      </igx-expansion-panel-title>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body>
      <div class="column-layout group_1">
        <img src="/assets/SketchParser.png" class="image" />
      </div>
    </igx-expansion-panel-body>
  </igx-expansion-panel>
</div>
<div class="row-layout group_2">
  <igx-expansion-panel [collapsed]="false" class="expansion-panel_1">
    <igx-expansion-panel-header iconPosition="right">
      <igx-expansion-panel-title>
        Title goes here
      </igx-expansion-panel-title>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body>
      <img src="/assets/SketchParser.png" class="image_1" />
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel [collapsed]="false" class="expansion-panel_1">
    <igx-expansion-panel-header iconPosition="right">
      <igx-expansion-panel-title>
        Title goes here
      </igx-expansion-panel-title>
      <igx-expansion-panel-description>
        Subtitle
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body>
      <img src="/assets/SketchParser.png" class="image_1" />
    </igx-expansion-panel-body>
  </igx-expansion-panel>
</div>
